.contactPG{

background-color: #c9fdd5;
}
.TXT{
    color: black;
}
.BGC{

    background-color: #ffffff;
}
.dpdown{
    background-color: #c9fdd5 !important;
}



/* Custom CSS for scrollable content */
.ant-layout-content {
    overflow-y: auto;
    height: calc(100vh - 64px); /* Full height minus the header */
  }
  
  /* Optional: Custom font for the sidebar */
  .ant-layout-sider {
    font-family: Arial, sans-serif;
  }
  
  /* Optional: Adding hover effect on menu items */
  .ant-menu-item:hover {
    background-color: #1a7cbc !important;
  }
  .ant-menu-item-selected{
    background-color: #1a7cbc !important;
  }

  .ant-menu-item-selected span{
    color: #ffffff;
}

  .ant-menu-item{
     color: #565656!important;
  }
.ant-menu-item span,.ant-menu-item-icon {
    font-size: 18px;
    font-weight: 600;
}

.ant-menu-item span:hover{
    color: #ffffff;
}
  .ant-menu-dark{
    background-color: #ffffff !important
  }
  .ant-layout-sider-trigger{
    background-color: #90dfff !important
  }

  .ant-layout-sider-trigger span{
    color: #1a7cbc;
    font-size: 20px;
  }
  .ant-layout-content{
    background: #eeeef3!important;
  }
  .ant-card-head-title{
    font-size: 25px;
    font-weight: 300;
  }
  .ant-card-body{
    font-size: 25px;
    font-weight: 600;
  }

  .SecCol{
    margin-top: 25px !important;
   
  }

  .serviceP{
    background: rgb(238, 238, 238);
    /* margin: 0px 20px; */
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px 20px;
    border-radius: 5px;
  }
  .serviceT{
    background: #7cab8130;
    padding: 30px 20px;
    border-radius: 5px;
  }


  .Ads1{

    background-color: #0096db;
    padding: 40px 0px
  }

  .Adsc1{
    font-size: 40px;
    font-weight: 700;
    color: white;
  }



.btnBookSlot a{
  text-decoration: none;
  background-color: #0096db; 
  color: white; 
  font-size: 1.2rem; 
  padding: 15px 30px; 
  border-radius: 5px; 
  
  font-weight: 600;
 
  text-align: center; 
  cursor: pointer; 
  transition: all 0.3s ease-in-out; 
 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Hover Effect */
.btnBookSlot a:hover {
  background-color: #5960eb; 
  transform: scale(1.05); 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2), 0 4px 20px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}




.btnBookSlot a:focus {
  outline: none;
}

.reviewSec{
  background: #dff3e7;
    padding: 30px;
    border-radius: 5px;
}

.navbar-nav{
  text-transform: UPPERCASE;
  font-weight: 600;
}

.dashboardCard{

  background: #c6daff9e;
  padding: 20px;
  border-radius: 5px;

}

.chartcompo{

  
  background: #c6daff9e;
  padding: 20px;
  border-radius: 5px;
  margin-top: 30px;

}